.text-pistil {
  color: inherit;
}

.description {
  color: blue;
  font-size: 16px;
  font-weight: bold;
}

.attention {
  color: red;
  text-decoration: underline;
}

article section div.imbrication .element div p.description .text-pistil {
  text-decoration: underline;
  font-size: 25px;
}

.testé {
  color: orange;
}
