body {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 12px;
}

ul {
  list-style: none;
}

.img-responsive {
  max-width: 100%;
  height: auto;
}

.liste-images {
  padding: 0;
  display: flex;
  flex-direction: column;
}

.liste-images li {
  flex: 1;
}

@media only screen and (max-width: 320px) {
}

@media only screen and (orientation: landscape) {
}
