* {
  box-sizing: border-box;
}

body,
html {
  max-width: 1280px;
  margin: 0 auto;
  min-height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

body {
  background: rgb(2, 173, 193);
  background: linear-gradient(
    0deg,
    rgba(2, 173, 193, 1) 0%,
    rgba(0, 212, 255, 1) 100%
  );
  position: relative;
  padding-bottom: 60px;
}

.exercice {
  max-width: 1180px;
  margin: 30px auto;
  border: 2px solid #028695;
  border-radius: 4px;
  padding: 25px;
  background-color: aliceblue;
}

.instruction {
  margin: 55px auto;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

.tree {
  position: relative;
}

.tree li {
  font-size: 1.2rem;
  position: relative;
  padding: 0 7px;
  margin: 2px 0;
}

.tree ul {
  margin-left: 15px;
}

.tree .is-index-file {
  background: rgb(2, 173, 193);
  color: white;
}

.tree .is-image-file {
  background: rgb(49 193 2);
  color: white;
}

.list-responses {
  margin-top: 0;
  display: flex;
  justify-content: space-evenly;
}

.exercice p {
  margin-top: 25px;
  margin-bottom: 5px;
}

.list-responses > div {
  display: inline-block;
}

.list-responses input[data-is-answer="y"]:checked ~ label {
  background-color: #7ee684;
}

.list-responses input[data-is-answer="n"]:checked ~ label {
  background-color: #e67e87;
}

.total-responses {
  display: inline-block;
  padding: 20px 35px;
  position: fixed;
  bottom: 0;
  transform: translateX(-50%);
  left: 50%;
  font-size: 3rem;
  text-align: center;
}

.total-responses p {
  font-size: 0.9rem;
}

@media only screen and (max-width: 768px) {
  .list-responses {
    flex-direction: column;
  }

  .list-responses > div {
    margin-bottom: 15px;
  }

  body {
    padding-bottom: 80px;
  }
}
